.toolbar{
    height: 50px;
    width: 100%;
    background:rgb(33, 34, 36);
    position: fixed;
    top:0;
    left:0;
}
.toolbar-nav{
    display: flex;
    align-items: center;
    height: 100%;
}
.toolbar-logo{
    margin-left: 20px;
}
.toolbar-logo a{
    color: whitesmoke;
    font-size: 1.7rem;
    text-decoration: none;
}
.toolbar-items{
    margin-left: auto;
}
.toolbar-items ul{
    display: flex;
    list-style: none;
}
.toolbar-items ul li a{
    color: whitesmoke;
    text-decoration: none;
    margin: 0 0.4rem;
}

@media only screen and (max-width: 800px) {
    .toolbar-items{
        display: none    
    }
    .toolbar-logo{
        margin: auto;
    }
   }